*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #275efe;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --container-background: #f7f9fd;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--group-background);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--group-border);
  margin: 2rem 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 3px solid var(--group-border);
  background-color: var(--container-background);
  border-radius: 16px;
  width: 950px;
  height: 950px;
}

.left,
.right {
  padding: 2rem;
}

.left {
  border-right: 1.5px solid var(--group-border);
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  &::placeholder {
    color: var(--input-placeholder);
  }
  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
  & > span,
  .form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  &:focus-within {
    & > span {
      color: var(--group-color-focus);
      background: var(--group-background-focus);
      border-color: var(--group-border-focus);
    }
  }
}

#temp_C {
  font-size: 5rem;
}

.weather-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

#weather-description {
  display: flex;
  align-items: center;
  gap: 4px;
}

.weather {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forecast h3 {
  text-align: center;
}

.forecast-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-icon {
  width: 2.5rem;
  object-fit: contain;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--group-border);
  padding: 8px;
}

.forecast-day h2 {
  padding-left: 0.5rem;
  border-left: 1px solid var(--group-border);
}

.forecast-day p {
  font-size: 14px;
}

.forecast-day p:first-child {
  font-weight: 600;
}

.forecast-day p:last-child {
  font-weight: light;
  color: var(--input-color);
}

.forecast-buttons {
  display: flex;
  justify-content: space-between;
}

.forecast-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.forecast-buttons button.active {
  border: 1px solid var(--group-border);
  background-color: var(--group-background);
  border-radius: 0.5rem;
}

.forecast-buttons button.active:hover {
  border: 1px solid var(--group-border-focus);
  background-color: var(--group-background-focus);
  border-radius: 0.5rem;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hourly-weather-list {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  border: 1px solid red;
}

.hourly-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 120px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--group-border);
}

.hourly-weather-card hr {
  margin: 4px 0 8px;
}

.hourly-weather-card p:last-child {
  font-weight: bold;
  margin-top: 8px;
}
